COFFEE_ADMIN_USER=manager
COFFEE_ADMIN_PASSWORD=
COFFEE_SESSION_SECRET=
COFFEE_TIMEZONE=America/Edmonton
COFFEE_SECURE_COOKIES=false
COFFEE_HOST_PORT=3065
COFFEE_BIND_ADDRESS=127.0.0.1
BC_TENANT_ID=
BC_ENVIRONMENT=Sandbox
BC_COMPANY_ID=
BC_CLIENT_ID=
BC_CLIENT_SECRET=
BC_WEB_URL=https://businesscentral.dynamics.com
BC_ALLOW_WRITES=false
